html {
  font-size: 2em;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

form {
    padding: 2em;
    margin-top: 2em;
    margin-bottom:5em;
    border: 1px solid;
    text-align:left;
}

table {
    margin: 2em 0em;
}

hr {
    margin-bottom: 5em;
}

input.form-control, select.form-control {
    width:auto;
    margin: 1em 0em;
}


h2 {
    text-align: left;
}

.infobox, #infobox {
    width: 50%;
    text-align:justify;
    vertical-align: central;
    background-color:rgba(55,141,252,0.7);
    box-shadow: 0.5em 0.5em 1em;
    margin: 1em;
    margin-left: 0px;
    opacity: 0.5;
}

.infobox:hover {
    opacity: 1;
}

.infobox p, #infobox p {
    margin: auto;
    padding: 1em 1em;
    color:white;
    text-shadow: 2px 3px 3px black;
}

.infobox a {
    color: white;
}

label, span {
    font-weight: bold;
}

.m-option {
    background: url("weather.svg") 0 no-repeat;
    padding: 1em;
    display:inline-block;
    font-weight:bold;
    text-shadow:2px 2px 3px azure;
}