@using Weather_Monitor.Models;
@model IEnumerable<WeatherData>
@{
    WeatherData data = new WeatherData();
    List<DateTime> days = new List<DateTime>();
    foreach (var item in Model)
    {
        days.Add(item.Date.Date);
    }
    days = days.Distinct().ToList();

    List<AverageTempPerDay> average = new();
    foreach (var day in days)
    {
        double avgIn = 0;
        double avgOut = 0;
        int count = 0;

        foreach (var measurement in Model)
        {
            if (day == measurement.Date.Date)
            {
                avgIn += measurement.InCelsius;
                avgOut += measurement.OutCelsius;
                count++;
            }
        }
        AverageTempPerDay a = new(day, avgIn / count, avgOut / count);
        average.Add(a);
    }
}


    <h2>Average temperature</h2>
    <h3></h3>
<table class="table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Day</th>
            <th>Average temperature inside (C°)</th>
            <th>Average temperature outside (C°)</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in average)
        {

                <tr>
                    <td>@item.Date.ToShortDateString()</td>
                    <td>@item.AverageTempInside</td>
                    <td>@item.AverageTempOutside</td>
                </tr>
        }
    </tbody>
</table>