@page
@model Weather_Monitor.Pages.Weather.TimeRangeModel
@{
	var dateNo1w = new DateTime(DateTime.Now.Ticks - (DateTime.Now.Ticks % TimeSpan.TicksPerSecond), DateTimeKind.Unspecified);
	var dateNow = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, DateTime.Now.Hour, DateTime.Now.Minute, DateTime.Now.Second, DateTimeKind.Unspecified);
	var dateAWeekAgo = dateNow.AddDays(-7);
}


		<h1>Choose time range</h1>
<form>
	<label>From</label>
	<input class="form-control" asp-format="{0:yyyy-MM-ddTHH:mm}" type="datetime-local" asp-for="From" id="From" value="@(dateAWeekAgo.ToString("s"))"/>

	<label>To</label>
	<input class="form-control" asp-format="{0:yyyy-MM-ddTHH:mm}" asp-for="To" type="datetime-local" id="To" value="@(dateNow.ToString("s"))" />

	<button type="submit">Show data</button>
</form>