@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <img src="~/css/weather.svg" height="100" />
    <h1 class="display-4">Weather Monitor</h1>
    <p></p>
</div>
<div class="main text-center">
    <ul style="font-size:1.5em;font-weight:bold;list-style:inside">
        <li>Track your outdoor & indoor weather information.</li>
        <li>Choose from the various options to display your weather data.</li>
    </ul>
</div>
